<!DOCTYPE html>
<html>
  <head>
    <title>NoParking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="assets/theme/jquery.min.js"></script>
    <script src="assets/theme/jquery.dropotron.min.js"></script>
    <script src="assets/theme/jquery.scrollex.min.js"></script>
    <script src="assets/theme/browser.min.js"></script>
    <script src="assets/theme/breakpoints.min.js"></script>
    <script src="assets/theme/util.js"></script>
    <script src="assets/theme/main.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
