<%= form_with(model: no_parking_zone, local: true) do |form| %>
  <% if no_parking_zone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(no_parking_zone.errors.count, "error") %> prohibited this no_parking_zone from being saved:</h2>

      <ul>
      <% no_parking_zone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.select :reason, ['Police', 'Street Cleaning', 'Festival / Parade']%>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
